/* Guidelines */
.top-guidelines-container{
  height: 4%;
  width: 100%;
  float: left;
  background: #fff
}
.top-guidelines-container ul{
  list-style: none; display: inline
}
.top-guidelines {
  text-align:center;
  float:left;
  width: 12%
}
.top-guidelines:last-of-type{
  width: 9%
}
.right-guidelines-container {
  height: 95%;
  width: 4%;
  float: left;
  background: #fff
}
.right-guidelines-container ul{
  height: 100%; 
  list-style: none; 
  padding: 80%
}
.right-guidelines {
  height: 12.5%
}

/* End of Guidelines */
/* Moves Container */
.move-details-container{
  padding: 10px;
  width: 16vw;
  height: 70vw;
 /*  margin:10px; */
  float:left;
  flex-wrap: wrap;
}

.move-details-container:last-of-type{
  background: black;
  color:#ddd
}

/* End of Moves Container */
.main-container{
  width:100%;
  height: 100%
}

.app-container{
  height: 700px;
  width: 700px;
  /* float: left; */
  padding: 10px;
  border:1px solid red;
  margin: 2% auto;
  box-sizing: border-box;
}

.board-container{
  width: 95%;
  height: 95%;
  display: flex;
  float: left;
  flex-wrap: wrap;
  border: 2px solid black
}

.boardsquare-container {
  width: 12.5%;
  height: 12.5%
}

.square-container{
  position: relative;
  width: 100%;
  height: 100%
}

.piece-main-container{
  
  width: 100%;;
  height: 100%;;
  font-size: 30px;
  display: table
}

.piece-container{
  font-size: 40px;
  font-weight: bold;
  cursor: move;
  display: table-cell;
  text-align: center;
  vertical-align: middle
}